@import "../../assets/scss/vars";

.app {
  padding-top: 1px;
  height: 100vh;
  box-sizing: border-box;
  background-color: $background-basic;
}

.signIn-form-wrapper {
  @extend %layout-box;
  margin: 100px auto auto auto;
  width: 384px;
  height: 374px;
  background-color: $background-layout;
  @media (max-width: 420px) {
    margin-top: 0;
    width: 100%;
    height: 100%;
  }
}
