@import "../../../assets/scss/vars";
@import "../../../assets/scss/background-image";

.label {
  height: 40px;
  width: 40px;
}

.checkbox-password-input {
  appearance: none;
  -webkit-appearance: none;
  &:focus-visible + .checkbox-password {
    border: 2px solid $border-color-button-focus;
  }
}

.checkbox-password {
  position: absolute;
  top: 0;
  height: 40px;
  width: 40px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: 40% 50%;
  cursor: pointer;
  &:hover {
    scale: 110%;
  }
  &--view {
    background-image: $view-password-image;
  }
  &--no-view {
    background-image: $no-view-password-image;
  }
}